body {
  margin: 0;
  height: 100%;
}

.modal {
  z-index: 9999;
  width: 480px;
  min-height: 650px;
  position: absolute;
  left: 45%;
  top: 3%;
  margin-left: -150px;
  color: #fff;
  font-family: 'Albert Sans', sans-serif;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1), 0px 3px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.modal-iframe {
  width: 480px;
  min-height: 650px;
  color: #fff;
  background: #141724;
  border-radius: 12px;
  border: none;
  font-family: 'Albert Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.bg {
  z-index: 9998;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.modal-body > h2 {
  font-size: 24px;
  font-weight: 600;
  /* margin-left: 5px; */
}

.modal-body > p {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #e2e8f0;
}

.modal-text {
  text-align: center;
  width: 70%;
  padding: 20px 0px;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.button-basic {
  margin: 3px;
  width: 304px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#btn-link {
  text-decoration: none;
}

#btn-verify {
  background-color: #059669;
  font-weight: 600;
}
#btn-verify > img {
  margin-left: 5px;
}

#btn-browse {
  background-color: #334155;
  font-weight: 600;
}

.button-basic:hover {
  opacity: 0.8;
}

#kyc {
  font-weight: 600;
  color: #fff;
}

.powered {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  color: #94a3b8;
  height: 60px;
}

.item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #475569;
  width: 65%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px;
  background-color: #1e293b;
}

h4 {
  color: white;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
