body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.modal-iframe {
  width: 480px;
  min-height: 650px;
  color: #ffff;
  background: #141724;
  border-radius: 12px;
  border: none;
  font-family: "Albert Sans", sans-serif;
}

.modal-bg {
  z-index: 10000;
  position: sticky;
  pointer-events: all;
}